<a style="text-decoration:none;" href="http://www.twig-world.com">
    <img src="https://twig.s3.amazonaws.com/images/email/signature/twig_logo.jpg" alt="Twig World Ltd" border="0">
</a>
<a style="text-decoration:none;" href="http://www.tigtagworld.com">
    <img src="https://twig.s3.amazonaws.com/images/email/signature/tigtag_logo.jpg" alt="Tigtag" border="0">
</a>
<p style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height:26px; color: rgb(102, 102, 102)">
    <span style="font-weight: bold;">{{ request.session.full_name }}</span> | {{ request.session.job_title }}
<br>

<span id="mobile-input" style="color: rgb(102, 102, 102);" class="txt">T: {{ request.session.main_contact_number }} {% if request.session.additional_number %}| M: {{ request.session.additional_number }} {% endif %}

    <br>

{% if request.session.skype %}
<a href="skype:{{ request.session.skype }}"><img src="https://twig.s3.amazonaws.com/images/email/signature/skype.png" alt="Skype"></a> | 
{% endif %}
<a href="https://twitter.com/TwigWorld"><img src="https://twig.s3.amazonaws.com/images/email/signature/twitter.png" alt="Twitter"></a>

 | E: <a href="mailto:{{ request.session.email }}" style="color: rgb(223, 20, 109);">{{ request.session.email }}</a></p>

<a href="http://www.twig-world.com" style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height:22px; color: rgb(223, 20, 109); text-decoration:none;">www.twig-world.com</a> 
<span style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height:22px; color: rgb(102, 102, 102)"> <br> <img src="https://twig.s3.amazonaws.com/images/email/signature/bett-small.jpg" alt="Bett Award Winner"> Bett Award Winner 2012 / 2013 / 2014 </span>
<p style="font-family: Helvetica, Arial, sans-serif; color: rgb(102, 102, 102); font-size: 12px; line-height: 18px;">Named As One Of The World's Top 25 Most Innovative Companies In Digital Education by Total Education</p>
<p style="font-family: Helvetica, Arial, sans-serif; color: rgb(102, 102, 102); font-size: 10px; line-height: 12px;">Twig World Limited is registered in England. Registration number: 06719651. Registered address: One London Wall, London, EC2Y 5AB</p>
