<a style="text-decoration:none; line-height:8px;" href="http://www.twig-world.com">
    <img src="https://twig.s3.amazonaws.com/images/email/signature/twig_logo.jpg" alt="Twig World Ltd" border="0">
</a>
<a style="text-decoration:none; line-height:8px;" href="http://www.tigtagworld.com">
    <img src="https://twig.s3.amazonaws.com/images/email/signature/tigtag_logo.jpg" alt="Tigtag" border="0">
</a>
<p style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height:24px; color: rgb(102, 102, 102)">
    <span style="font-weight: bold;">{{ request.session.full_name }}</span> | {{ request.session.job_title }}
<br>

<span id="mobile-input" style="color: rgb(102, 102, 102);" class="txt"><span style="font-weight:bold;">T:</span> {{ request.session.main_contact_number }} {% if request.session.additional_number %}| <span style="font-weight:bold;">M:</span> {{ request.session.additional_number }} {% endif %}
<br>

{% if request.session.skype %}

<a href="skype:{{ request.session.skype }}"><img src="https://twig.s3.amazonaws.com/images/email/signature/skype.png" alt="Skype"></a>
{% endif %}
<a href="https://twitter.com/TwigWorld"><img src="https://twig.s3.amazonaws.com/images/email/signature/twitter.png" alt="Twitter"></a>

<a href="http://www.twig-world.com"><img src="https://twig.s3.amazonaws.com/images/email/signature/web.png" alt="Twig"></a>

<br> <a href="http://snip.li/ljHDk"><img src="https://twig.s3.amazonaws.com/images/email/signature/bett-rb.png" alt=""></a>
